<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud Application</title>
    <link rel="stylesheet" th:href="@{/css/designStyle.css}" />
</head>

<body>

<h1>Witaj w Taco Cloud!</h1>
<img th:src="@{/images/taco_home.png}" class="taco_photo"/>

<h2> Stwórz własne taco!</h2>

<form method="POST" th:object="${design}">
    <div class="grid">
        <div class="ingredient_group"> <h3>Wybierz rodzaj tortilli:</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient_group"> <h3>Wybierz rodzaj mięsa:</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient_group"> <h3>Wybierz rodzaj sera:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient_group"> <h3>Wybierz warzywa:</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient_group"> <h3>Wybierz sos:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div class="footer">
        <h3>Nazwij swoje stworzone Taco:</h3>
        <input type="text" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <br/>
        <div class="button_center">
            <button>Zatwierdź Twoje Taco</button>
        </div>
    </div>
</form>
</body>
</html>